/* */
body{
	display: none;
	padding:0px;
	margin:0px;
}
body div {
	font-size: 1em;
}

section {
	padding: 2em;
	height: 95%;
}

section h1 {
	font-size: 3vw;
	border-bottom: 3px solid #000;
}
section h2 {
	font-size: 2.2;
}
section h3 {
	font-size: 2vw;
} 
section h4 {
	font-size: 1.8vw;
	
}

footer {
	background-color: #7FA6AB;
	border-top: 5px solid #000;
	font-size: 2em;
	text-align: center;
	height: 10%;
	color: white;
}
.banner {
	overflow-x: hidden;
}
.banner img {
	height: 100%;
}

.episode {
	height: 100%;
}
.episode .description,
.episode .achievements,
.episode .skills {
	font-size: 1.5vw;
/*	background-color: #EEE;*/
}

.episode .comic {
	height: 90%;
}

.episode article {
	height: 90%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
h1.title img,
.episode h1 img {
    width: 3vw;
    display: inline-block;
    margin: 2px;
    vertical-align: bottom;
}

iframe.monitor {
	height: 100%;
	width: 100%;
	border: none;
/*	border: 5px solid #7FA6AB;*/
	overflow: hidden;
}
div.monitor.row {
	height: 100%;
	overflow: hidden;
}
.monitor .status {
	padding-top: 10px;
	height: 100%;
	overflow: hidden;
}
.monitor .status code {
	font-size: 1.2vw;
	display: block;
	overflow: hidden;
	color: black;
	margin-bottom: 0.5vw;
}
.static {
	vertical-align: middle;
}
.logo img {
	margin-top: 10%;
	vertical-align: middle;
	width: 100%;
}

.europe p {
	font-size: 2vw;
	margin: 2%;
}
.europe img {
	vertical-align: middle;
	height: 80%;
}

.banner{
	text-align: center;
}
.banner img {
	height: 100%;
	width: auto;
}
.partners div{
	text-align: center;
}
.partners{
	height:100%;
}
.sponsors {
	margin-top: 2vw;
	margin-bottom: 4vw;
}
.sponsors div {
	text-align: center;	
}

.info {}
.info {
	text-align:center;
}
.info center {
	white-space: pre;
	font-size: 3.8vw;
}
.info img {
	height: 70%;
}
.robot {
	height: 90%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	text-align: center;
}
.robot center {
	font-size: 4vw;
	display: block;
}
.robot img {
	height: 40%;
	width: auto;
	align-self: center;
}
.robot .moment {
	font-size: 2.5vw;
	display: block;
}
.teams {
	height: 90%;
}
.teams .team {
	text-align: center;
	font-size: 3vw;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: 220%;
}