/* */
body{
	display: none;
	padding:0px;
	margin:0px;
	background-color: #FFF;
}
body div {
	font-size: 1em;
}

section {
	background-color: #FFF;
	padding: 2em;
	height: 95%;
}

section h1 {
	font-size: 3vw;
	border-bottom: 3px solid #000;
}
section h2 {
	font-size: 2.2;
}
section h3 {
	font-size: 2vw;
} 
section h4 {
	font-size: 1.8vw;
	
}

footer {
	background-color: #7FA6AB;
	border-top: 5px solid #000;
	font-size: 2em;
	text-align: center;
	height: 10%;
	color: white;
}
.banner {
	overflow-x: hidden;
}
.banner img {
	height: 100%;
}

.episode {
	height: 100%;
}
.episode .description,
.episode .achievements,
.episode .skills {
	font-size: 2vw;
/*	background-color: #EEE;*/
}

.episode .comic {
	height: 90%;
}

.episode article {
	height: 90%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.episode article ul li {
	list-style: none;
}
h1.title img,
.episode h1 img {
    width: 3vw;
    display: inline-block;
    margin: 10px;
    vertical-align: bottom;
}

iframe.monitor {
	height: 90%;
	width: 100%;
	border: none;
/*	border: 5px solid #7FA6AB;*/
	overflow: hidden;
}
div.monitor.row {
	height: 100%;
	overflow: hidden;
}
.monitor .status {
/*	padding-top: 10px;*/
	height: 90%;
	overflow: hidden;

/*	display: flex;
	flex-direction: column;
	justify-content: space-around;*/
}

.monitor .location h2,
.monitor .status h2 {
	display: block;
	font-size: 2vw;
}

.monitor .status .message {
	font-size: 1.7vw;
}
.monitor .status .message-header {
	display: inline-block;
}
.monitor .status .message-header .message-team {
	font-weight: bold;
}
.monitor .status .message-header .message-moment {
	display: inline-block;
	margin-left: 0.5vw;
	font-size: 1.3vw;
	color: #888;
}
.monitor .status .message-content {
	margin-left: 2vw;
	display: inline-block;
}

.monitor .episode-E03 .message-header .message-team,
.monitor .episode-E04 .message-header .message-team {
	color: #77AB39;
}
.monitor .episode-E07 .message-header .message-team ,
.monitor .episode-E10 .message-header .message-team {
	color: #EE7633;
}
.monitor .episode-E12 .message-header .message-team {
	color: #029EB1;
}

			
.static {
	vertical-align: middle;
}
.logo img {
	margin-top: 10%;
	vertical-align: middle;
	width: 100%;
}

.europe p {
	font-size: 2vw;
	margin: 2%;
}
.europe img {
	vertical-align: middle;
	height: 80%;
}

.banner{
	text-align: center;
}
.banner img {
	height: 100%;
	width: auto;
}
.partners div {
	text-align: center;
}
.partners {
	height:100%;
}
.partners img{
	height: 9vw;
}
.sponsors {
	margin-top: 2vw;
	margin-bottom: 4vw;
}
.sponsors div {
	text-align: center;	
}

.info {
	text-align:center;
}
.info center {
	white-space: pre;
	font-size: 3.8vw;
}
.info img {
	height: 70%;
}
.robot {
	height: 90%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	text-align: center;
}
.robot center {
	font-size: 4vw;
	display: block;
}
.robot img {
	height: 40%;
	width: auto;
	align-self: center;
}
.robot .moment {
	font-size: 2.5vw;
	display: block;
}
.teams {
	height: 90%;
}
.teams .team img {
	display: inline-block;
	height: 4vw;
	vertical-align: middle;
	margin-right: 1vw;
}
.teams .team {
	text-align: left;
/*	text-transform: uppercase;*/
/*	vertical-align: middle;*/
/*	line-height: 220%;*/
}
.teams .team .team-label{	
    display: inline-block;
    font-size: 4vw;
    vertical-align: middle;
}
.teams .team .team-description {
	display: block;
	font-size: 1.8vw;
}
img.ocado-tech-logo,img.costa {
	width: auto;
	align-self: center;
}
.info2{
	
	text-align: center;
	font-size: 2.8vw;
}
.info2 .txt{
	text-align: left;
	padding-left: 20vw;
}
.info2 ul li{
	list-style: none;
}
.info2 img {
	height: 60%;
}
.advert {
	width: auto;
	height: 100%;
	background-image: url("../images/landscape-advertV6.png");
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
/*div.slider{
	padding-top: 7vw;
	background-color: red;
}
input[type=range][orient=vertical] {
    writing-mode: bt-lr;
	vertical-align: bottom;
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 26vw;
    padding: 20% 5px;
}*/
div.help ul {
	font-size: 1.4vw;
}
